@model UserInfo

<h2>User Details</h2>

<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.FirstName)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Surname)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Surname)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.YearOfBirth)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.YearOfBirth)
    </dd>
</dl>